<footer class="site-footer">
  <div class="wrap site-footer__grid">
    <div class="site-footer__funding">
      <img
        src="/assets/images/logo-ec.jpg"
        alt="Σημαία της Ευρωπαϊκής Ένωσης"
        width="47"
        height="31"
      />
      <p>Αυτό το πρόγραμμα έχει λάβει χρηματοδότηση από το ΕΣΠΑ</p>
    </div>
    <a routerLink="/Terms_of_Service_and_Privacy_Policy">
      Όροι Παροχής Υπηρεσιών &amp; Πολιτική Απορρήτου
    </a>
    <p class="site-footer__copyright">© 2022. ASSURE Project. All Rights Reserved.</p>
  </div>
</footer>
